@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/*@tailwind base;
@tailwind properties;
@tailwind utilities;*/

*{
  font-family: Outfit;
}

select,input,textarea{
border: 1px solid #c2c2c2;
outline-color: #b6a9b0;
border-radius: 4px;
}

.active{
  background-color: #ffebf5;
  border-color: #b9b2b6;
}