@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
a.active hr{
    display: block;
}

body{
  background-color: #04010A;
    font-family:Outfit;
    color: #EFE8FD;
    font-family:"DM Sans", "DM Sans Placeholder", sans-serif;
}/*
button{
  background-color: #EFE8FD;
  color: #04010A;
}
button:hover{
  background-color: rgb(218, 213, 213);
  color: #181818ec;
}*/
p{
  color:rgb(231, 228, 228)
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
/*::-webkit-scrollbar{
  display:none;
}*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
} 

@media(max-width:640px){
  a.active{
    background-color: white;
    color: black;
  }
}
.section-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section-fade.visible {
  opacity: 1;
  transform: translateY(0);
}
